DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=seudominio.com,www.seudominio.com
SITE_NAME=Lucas Alves Tech
SITE_URL=https://seudominio.com
SITE_DESCRIPTION=Portfolio de Lucas Alves, estudante de Sistemas de Informacao em busca de estagio em TI, com foco em Analise de Dados e interesse em suporte, desenvolvimento e automacao.
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
